name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

env:
  IMAGE: ashfn0/islechat
  TAG: latest

jobs:
  build:
    name: Build (${{ matrix.arch }})
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-22.04-arm64
            platform: linux/arm64
          - arch: armv7
            runner: ubuntu-latest
            platform: linux/arm/v7
    runs-on: ${{ matrix.runner }}
    environment: main

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push arch image
        run: |
          docker buildx build \
            --platform ${{ matrix.platform }} \
            -t $IMAGE:${TAG}-${{ matrix.arch }} \
            --push .

  manifest:
    name: Create multi-arch manifest
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and push manifest
        run: |
          docker manifest create $IMAGE:$TAG \
            $IMAGE:$TAG-amd64 \
            $IMAGE:$TAG-arm64 \
            $IMAGE:$TAG-armv7

          docker manifest push $IMAGE:$TAG
